@import "tailwindcss";

#root{
  padding-left: 50px;
  display: flex;
  gap: 120px;
}

#card-text{
  background: linear-gradient(0deg,white,rgba(255, 255, 255, 0));
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}